.container{
    margin-bottom: 50px;
}
.custom_bg{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color:#FF136F;
}
.custom_btn{
   background-image: linear-gradient(to bottom,#FF589B 0%, #FF136F 100%);
   color:#fff;
   padding:8px 25px;
   border-radius: 8px;
   border: none;
}